@model IEnumerable<PointOfSale.Models.ExpiredStock>
<div class="row">
    <h3 class="col-9">
        <a class="btn btn-success" onclick="showOnPopup('@Url.Action("AddOrEditExpired","OrdersStocks",null,Context.Request.Scheme)','Add Expired Item ')"><i class="fa fa-plus" aria-hidden="true"></i>Add Expired Item</a>
    </h3>
</div>

<br />
@if (Model.Any())
{
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Item Added to Stock
        </div>
        <div class="card-body">
            <table class="table" id="datatablesSimple">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.BarItem)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateOfOrder)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BarItem.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfOrder)
                            </td>
                            <td>

                                <a onclick="showOnPopup('@Url.Action("AddOrEditExpired","OrdersStocks",new {id=item.Id },Context.Request.Scheme)','Edit Expired Item')" class="btn btn-primary text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                                <form asp-action="DeleteExpired" asp-route-id="@item.Id" class="d-inline" onsubmit="return jQueryAjaxDeleteExpired(this);">
                                    <input type="submit" class="btn btn-danger" value="Delete" />
                                </form>
                            </td>
                        </tr>
                    }



                </tbody>
            </table>
        </div>
    </div>
}
else
{

    <h2 class="display-2">No Expired Item</h2>
}

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>*@

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="~/lib/datatables-simple-demo.js"></script>
}
