@model PointOfSale.ViewModel.BarContentViewModel
@{
    ViewData["Title"] = "Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<h1 style="text-align:center;">@ViewBag.ItemName</h1>

<form method="post" asp-action="AddToContent">
    <input type="hidden" asp-for="contentId.BarId" />
   
    <div class="row">
        <div class="form-group col-3">
            <label asp-for="contentId.ContentId" class="control-label"></label>
            <select asp-for="contentId.ContentId" class="form-control" asp-items="ViewBag.ContentId"></select>
        </div>
        <div class="form-group col-3">
            <label class="form-label">Quantity</label>
            <input asp-for="Quantity" class="form-control" />
        </div>
        <div class="form-group col-3">
            <label class="col-12"></label>
            <button class="btn btn-success" type="submit">Add</button>

        </div>
    </div>
    
</form>
<hr />
@if (Model.ContentList.Any()) {
    <h3>Content Items</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                var No = 0;
            }
            @foreach (var item in Model.ContentList)
            {
                
                No++;
                <tr>
                    <th scope="row">@No</th>
                    <td> @item.BarItem2.Name</td>
                    <td>@item.Quantity</td>
                    <td>
                        <form method="post" asp-action="DeleteContent" asp-route-id="@item.BarId" asp-route-contentId="@item.ContentId">

                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you Sure You want too delete this Product')">Delete</button>
                        </form>

                    </td>
                </tr>
               
            }
           
           
        </tbody>
    </table>
       
            
      

}
else {
<div class="display-2">
    No Item in Content
</div>

}
<br />
<a asp-action="Index" asp-controller="BarItems" class="btn btn-outline-warning">Back to List</a>

